<div class="outer">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel-heading">
            <h3 calss="pt-3 font-weight-bold">Sign-Up</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="registerform">
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="firstName" class="form-control" type="text" placeholder="First Name" >
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="lastName" class="form-control" type="text" placeholder="Last Name" >
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="email" class="form-control" type="text" placeholder="Email" >
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="userName" class="form-control" type="text" placeholder="Username" >
                </div>
              </div>

              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <select class="form-control form-select"  aria-label=".form-select-lg example" formControlName="role" >
                    <option selected>--Select Role--</option>
                    <option value="Account">Account</option>
                    <option value="PSP">PSP</option>
                    <option value="Admin">Admin</option>
                  </select>               
                 </div>
              </div>

              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="password" class="form-control" [type]="type" placeholder="Password">
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}} p-2"></span>
                </div>
              </div>
              <div class="form-inline fr mt-4">
                <a id="forget" class="font-weight-bold">Forget Password</a>
              </div>
              <button  type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="submitForm()">Submit</button>
              <div class="text-center pt-4 text-muted" >Already have account?  <a class="link" routerLink="">Log In</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  