<app-nav></app-nav>
<form [formGroup]="addEmp " class=" was-validated" >
    <br>
    <h3 class="text-center">Roll Off Form and FeedBack</h3>
    <div class="container p-2 center ">
      <div class="shadow-lg p-5 mb-1 bg-body rounded">
        
        <!--Section first-->
    <div class="row">
      <div class="container col">
        <label for="validationDefault01"><b>Name</b></label> 
        <input type="text" class=" form-control is-valid" id="validationDefault01" name="name" formControlName="name" value="{{employee.name}}" >
        <div class="invalid-feedback">Please enter Name.</div>
      </div>
      <div class="container col">
        <label><b>Practice</b></label> 
        <input type="text" class="form-control "  name="practice" formControlName="practice" value="{{employee.practice}}" >
      </div> 
      <div class="container col">
        <label><b>Performance Issue</b></label>
        <select class="form-control form-select" name="perform" aria-label=".form-select-lg example" formControlName="performanceIssue" required>
            <option selected>--Select--</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
      </div>
      <div class="container col">
        <label><b>Technical Skills</b></label>
        <input type="text" class="form-control" formControlName="technicalSkill" required>
      </div>
    </div>
    <br>
    <!--Section 2-->
    <div class="row">
        <div class="container col">
          <label><b>Local Grade</b></label> 
          <input type="text" class="form-control" name="grade" placeholder="" formControlName="localGrade" value="{{employee.localGrade}}"  >
        </div>
        <div class="container col">
          <label><b>Roll-Off End Date</b></label> 
        <input type="date" class="form-control" name="endDate" placeholder="" formControlName="rollOffEndDate" required>
        </div>
        <div class="container col">
            <label><b>Resigned</b></label>
            <select class="form-control form-select" name="resigned" aria-label=".form-select-lg example" formControlName="resigned" required>
                <option selected>--Select--</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
        </div>
        <div class="container col">
          <label><b>Communication</b></label>
          <input type="text" class="form-control" name="comm" placeholder="" formControlName="communication" required>
        </div>
      </div>
      <br>
      <!--Section 3-->
    <div class="row">
        <div class="container col">
          <label><b>Primary Skills</b></label> 
          <input type="text" class="form-control" name="skills" placeholder="" formControlName="primarySkill" required>
        </div>
        <div class="container col">
            <label><b>Reasons for Roll-Off</b></label>
            <select class="form-control form-select" name="reasons" aria-label=".form-select-lg example" formControlName="reasonForRollOff" required>
                <option selected>--Select--</option>
                <option value="Project Closure">Project Closure</option>
                <option value="Maternity Leave">Maternity Leave</option>
                <option value="Resigned">Resigned</option>
                <option value="Performance Issue">Performance Issue</option>
                <option value="HR Case">HR Case</option>
                <option value="People Skill">People Skill</option>
                <option value="Automation">Automation</option>
                <option value="Quality">Quality</option>
                <option value="New Delivery Model">New Delivery Model</option>       
                <option value="Labour(Work Force Productivity)">Labour(Work Force Productivity)</option>
                <option value="Client Budget Issues">Client Budget Issues</option>                             
              </select>
        </div>
        <div class="container col">
          <label><b>Under Prohibition</b></label>
          <select class="form-control form-select" name="prohib" aria-label=".form-select-lg example" formControlName="underProbation" required>
            <option selected>--Select--</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="container col">
          <label><b>Role Competencies</b></label>
          <input type="text" class="form-control" name="role" placeholder="" formControlName="roleCompetencies" required>
        </div>
      </div>
      <br>
      <!--Section 4-->
      <div class="row">
        <div class="container col">
          <label><b>Project Code</b></label> 
          <input type="number" class="form-control" name="pcode" placeholder="" formControlName="projectCode" value="{{employee.projectCode}}" required>
        </div>
        <div class="container col">
          <label><b>Other Reasons</b></label> 
          <input type="text" class="form-control" name="oreason" placeholder="" formControlName="otherReasons"   required>
        </div>
        <div class="container col">
          <label><b>Long Leave</b></label>
          <select class="form-control form-select" name="leave" aria-label=".form-select-lg example" formControlName="longLeave" required>
            <option selected>--Select--</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="container col">
          <label><b>Remarks</b></label>
          <input type="text" class="form-control" name="remark" placeholder="" formControlName="remarks" required>
        </div>
      </div>
      <br>
      <!--Section 5-->
      <div class="row">
        <div class="container col">
          <label><b>Project Name</b></label> 
          <input type="text" class="form-control" name="pname" placeholder="" formControlName="projectName" value="{{employee.projectName}}" >
        </div>
        <div class="container col">
          <label><b>Is backfilled</b></label> 
          <select class="form-control form-select" name="backfilled" aria-label=".form-select-lg example" formControlName="thisReleaseNeedsBackfillIsBackfilled" required>
            <option selected>--Select--</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="container col">
          <label><b>Leave Type</b></label>
          <select class="form-control form-select" name="ltype" aria-label=".form-select-lg example" formControlName="leaveType" required>
            <option selected>--Select--</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="container col">
          <label><b>Relevant Experience in Years</b></label>
          <input type="text" class="form-control" name="years" placeholder="" formControlName="relevantExperienceYears" required>
        </div>
    </div>
    <br>
    <div class="text-center">
        <button (click)="SaveData()" 
       (click)="alertWithSuccess()" 
        
        type="button" class="btn btn-success" name="Submit">Submit</button>
    </div>
  </div>
</div>

  </form>
