<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
    <div class="nav">
    <a class="navbar-brand" routerLink="" style="text-decoration: white;">RollOff</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button></div>
    <form class="form-inline">
      
      <button (click)="logout()" class="btn btn-primary my-2 my-sm-0" type="submit">Logout</button>
    </form>
  
  </nav>

